{% extends "calendar_base.html" %}

{% block main %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">
			Time Period
			<button type="submit" class="btn btn-primary btn-xs pull-right">Save</button>
		</h1>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				<label>Start Month</label>
				<select class="form-control" name="start">
					<option value="Jan">January</option>
				</select>
			</div>
			<div class="form-group">
				<label>End Month</label>
				<select class="form-control" name="start">
					<option value="Dec">December</option>
				</select>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">
			Events
		</h1>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<div class="row">
				<form>
					<div class="col-md-2">
						<h3>Summer BBQ</h3>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Month</label>
							<input type="text" class="form-control" value="6">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Day</label>
							<input type="text" class="form-control" value="12">
						</div>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<form>
					<div class="col-md-2">
						<h3>Napping Day</h3>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Month</label>
							<input type="text" class="form-control" value="3">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Day</label>
							<input type="text" class="form-control" value="10">
						</div>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<form>
					<div class="col-md-2">
						<h3>CSE 210 Presentations</h3>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Month</label>
							<input type="text" class="form-control" value="6">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Day</label>
							<input type="text" class="form-control" value="10">
						</div>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<form class="form-inline">
					<div class="col-md-4">
						<select class="form-control" name="event">
							<option value="Party">Party!</option>
						</select>
						<button type="submit" class="btn btn-default">New Event</button>
					</div>
				</form>
			</div>
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">
			Holidays
		</h1>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<div class="row">
				<form>
					<div class="col-md-2">
						<h3>July 4th</h3>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Month</label>
							<input type="text" class="form-control" value="7">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Day</label>
							<input type="text" class="form-control" value="4">
						</div>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<form>
					<div class="col-md-2">
						<h3>Christmas Eve</h3>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Month</label>
							<input type="text" class="form-control" value="12">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label>Day</label>
							<input type="text" class="form-control" value="24">
						</div>
					</div>
				</form>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<form class="form-inline">
					<div class="col-md-4">
						<select class="form-control" name="event">
							<option value="Party">Sleep!</option>
						</select>
						<button type="submit" class="btn btn-default">New Holiday</button>
					</div>
				</form>
			</div>
		</li>
	</ul>
</div>
{% endblock %}
